language: go
sudo: false
go:
  - "1.10.x"
before_install:
  - go get github.com/mattn/goveralls
  - bash prepare.sh
script:
  - $GOPATH/bin/goveralls -service=travis-ci
  - go test -race -coverprofile=coverage.txt -covermode=atomic
  - bash <(curl -s https://codecov.io/bash)
